engine/runtime/action-processor/src/xml/bundled_schemas/schemas/w3c/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3.org/XML/1998/namespace"
           xmlns:xml="http://www.w3.org/XML/1998/namespace">

  <xs:annotation>
    <xs:documentation>
      This schema document provides attribute declarations and
      attribute group declarations for xml:lang, xml:space, xml:base,
      and xml:id attributes as defined in:
      W3C Recommendation: Namespaces in XML 1.0

      This bundled version is used to avoid HTTP 429 errors when
      fetching from w3.org during validation.
    </xs:documentation>
  </xs:annotation>

  <xs:attribute name="lang">
    <xs:simpleType>
      <xs:union memberTypes="xs:language">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="space">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="default"/>
        <xs:enumeration value="preserve"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="base" type="xs:anyURI"/>

  <xs:attribute name="id" type="xs:ID"/>

  <xs:attributeGroup name="specialAttrs">
    <xs:attribute ref="xml:base"/>
    <xs:attribute ref="xml:lang"/>
    <xs:attribute ref="xml:space"/>
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>

</xs:schema>
